<div class="nav-top">
  <div class="container">
   <div class="row">
     <div class="col-xs-12" >
       <a href="http://68.183.126.36/#anchor">Бесплатная доставка при покупке от 1000 грн </a>
     </div>
   </div>
 </div>
</div>


<nav class="navbar navbar-expand-lg fixed-top  navbar-dark bg-dark head-room" id="general-nav">
    <span class="navbar-brand mb-0 h1">Graffiti Shop</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Товары
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Маркеры</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/info">О нас</a>
      </li>
    </ul>

{#      <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}

{#      <ul class="nav navbar-nav navbar-right loc-basket">#}
{#            <li>#}
{#                <div class="basket-container">#}
{#                    <a href="">Кошик</a>#}
{#                    <div class="basket-items hidden">#}
{#                        <ul class="">#}
{#                            <li>ццц</li>#}
{#                            <li>ццц</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </li>#}
{#      </ul>#}


{#      <ul class="nav navbar-nav navbar-right">#}
{#            <li class="dropdown basket-container">#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Кошик</a>#}
{#                <ul class="dropdown-menu basket-items">#}
{#                    <li><a href="#">123</a> </li>#}
{##}
{#                </ul>#}
{#            </li>#}
{#      </ul>#}

      <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="basket-container">
                    <a href="">Корзина <span id="basket_total_amount"></span> <span id="basket_total_nmb">
                        {% if products_total_nmb %}
                            ({{ products_total_nmb }})
                        {% else %}
                            (0)
                        {% endif %}</span></a>
                    <div class="basket-items d-none">
                        <ul class="">
                            {% for product_in_basket in products_in_basket %}
                                <li>{{ product_in_basket.product.product_name}}  {{ product_in_basket.nmb}} шт. по {{ product_in_basket.price_per_item }} грн</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>

          </ul>


  </div>
</nav>
